version: "3.9"

services:
  orderservice:
    build:
      context: .
      dockerfile: src/services/OrderService/Dockerfile
    environment:
      ASPNETCORE_URLS: http://+:5005
      DistributorClients__TechWorld: http://techworld:5101
      DistributorClients__ElectroCom: http://electrocom:5102
      DistributorClients__GadgetCentral: http://gadgetcentral:5103
    ports:
      - "5005:5005"
    depends_on:
      - techworld
      - electrocom
      - gadgetcentral

  techworld:
    build:
      context: .
      dockerfile: src/services/distributors/TechWorld.Api/Dockerfile
    environment:
      ASPNETCORE_URLS: http://+:5101
    ports:
      - "5101:5101"

  electrocom:
    build:
      context: .
      dockerfile: src/services/distributors/ElectroCom.Api/Dockerfile
    environment:
      ASPNETCORE_URLS: http://+:5102
    ports:
      - "5102:5102"

  gadgetcentral:
    build:
      context: .
      dockerfile: src/services/distributors/GadgetCentral.Api/Dockerfile
    environment:
      ASPNETCORE_URLS: http://+:5103
    ports:
      - "5103:5103"

  client:
    build:
      context: src/client/GadgetHub.Client
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: http://localhost:5005
    ports:
      - "5173:80"
    depends_on:
      - orderservice
